@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    font-family: 'CookieRun-Regular', sans-serif;
    overflow-x: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    margin: 0px;
}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.header,
.middle,
.footer {
    width: 100%;
    margin: 0 auto;
}

.header {
    width: 100%;
    user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    z-index: 1000;
}

.middle {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    box-sizing: border-box;
    transition: height 0.3s ease;
    justify-content: center;
    padding: 20px;
    margin-top: 11vh; /* 헤더의 높이에 맞춰 조정 */
}

.footer {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #242526;

    backdrop-filter: blur(10px);
    user-select: none;
    padding: 50px 0 20px;
    color: #ecf0f1;
}
